<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find xe_robot1)/urdf/xe_robot1.urdf" />
    
  <!-- <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher" /> -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find xe_robot1)/rviz/view_display.rviz" />
</launch>